In [1]:
# import panda
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# read Social Media Interactions.csv file
df = pd.read_csv(r"C:\Users\amatibag\OneDrive - Genesys Telecommunications Laboratories, Inc\MMDC\Second Year_1st Term\Math for ML Linear Algebra\Data Files\Social Media Interactions.csv")
df

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...,...
3195,8d8fe8bd-2009-4a15-be37-83dba3cef447,2212803c-4a00-4263-bae5-aaaff6d6bdb1,2023-08-30,Instagram,Like,Neutral
3196,1756838b-8368-4852-b4a5-32a23643a3dd,2f50ca57-f930-4d3e-ae08-9f3b26c7f148,2024-06-16,Facebook,Like,Neutral
3197,eb8bb3ce-e182-4a9c-8084-c55c738815e1,ee2c3d14-248c-48b0-aa80-4ea97e449bf8,2023-12-22,Instagram,Comment,Negative
3198,a5d08a95-9dba-4e3d-b997-1cfdde6a89ef,e77a8713-fdc7-4f71-85f8-9cd88cca0c42,2023-11-01,Twitter,Share,Positive
3199,f8146100-569d-4cda-9d64-88c6ad98de5f,454a0b90-d1bb-437d-ad50-ef01821fbf0a,2024-06-20,Instagram,Like,Neutral

## a. Check for duplicate rows and remove them

In [4]:
## check null values per column
df.isnull().sum()

CustomerID           0
InteractionID        0
InteractionDate      0
Platform           311
InteractionType      0
Sentiment          329
dtype: int64

In [5]:
## check total null values
df.isnull().sum().sum()

640

In [6]:
df = df.drop_duplicates()
df

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,071a2657-12a8-4216-9c64-baf9ab5c9420,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,e5be1d7a-fdba-4e91-8674-577ac01cddf0,2024-05-16,NaN,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,93d2d3e1-841e-4ece-91c1-3b1998a4cab8,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,d7f6806b-f348-431e-9198-07f0685d8d8e,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Negative

## b. Identify columns with missing values and decide how to handle them.

In [8]:
df.isnull().sum()

CustomerID           0
InteractionID        0
InteractionDate      0
Platform           291
InteractionType      0
Sentiment          309
dtype: int64

In [9]:
df.isnull().sum().sum()

600

In [10]:
# Create df2 from df
df2 = df.copy()

# Replace null values in Platform with 'Others'
df2['Platform'] = df2['Platform'].fillna('Others')

# Replace null values in Sentiment with 'Neutral'
df2['Sentiment'] = df2['Sentiment'].fillna('Neutral')

In [11]:
df2.isnull().sum()

CustomerID         0
InteractionID      0
InteractionDate    0
Platform           0
InteractionType    0
Sentiment          0
dtype: int64

In [12]:
df2.isnull().sum().sum()

0

In [13]:
df2

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,Others,Comment,Neutral
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,Neutral
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,Neutral
...,...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,071a2657-12a8-4216-9c64-baf9ab5c9420,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,e5be1d7a-fdba-4e91-8674-577ac01cddf0,2024-05-16,Others,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,93d2d3e1-841e-4ece-91c1-3b1998a4cab8,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,d7f6806b-f348-431e-9198-07f0685d8d8e,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Negative

## c. Ensure columns have the appropriate data types.

In [15]:
print(df2.dtypes)

CustomerID         object
InteractionID      object
InteractionDate    object
Platform           object
InteractionType    object
Sentiment          object
dtype: object

In [16]:
# Convert SignupDate to datetime format
df2['InteractionDate'] = pd.to_datetime(df2['InteractionDate'], errors='coerce')

In [17]:
df2.isnull().sum()

CustomerID           0
InteractionID        0
InteractionDate    100
Platform             0
InteractionType      0
Sentiment            0
dtype: int64

In [18]:
# unable to find a way to fix the 100 rows that has different format. Decided to drop the data instead

df2 = df2.dropna()

In [19]:
df2.isnull().sum()

CustomerID         0
InteractionID      0
InteractionDate    0
Platform           0
InteractionType    0
Sentiment          0
dtype: int64

In [20]:
print(df2.dtypes)

CustomerID                 object
InteractionID              object
InteractionDate    datetime64[ns]
Platform                   object
InteractionType            object
Sentiment                  object
dtype: object

In [21]:
df2

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,Others,Comment,Neutral
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,Neutral
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,Neutral
...,...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,071a2657-12a8-4216-9c64-baf9ab5c9420,2024-04-30,Twitter,Share,Neutral
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,e5be1d7a-fdba-4e91-8674-577ac01cddf0,2024-05-16,Others,Like,Very Negative
3173,b7b84b81-c61b-4f23-b3db-b18010484122,93d2d3e1-841e-4ece-91c1-3b1998a4cab8,2023-12-16,Twitter,Like,Neutral
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,d7f6806b-f348-431e-9198-07f0685d8d8e,2024-01-28,Facebook,Share,Negative
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Negative

## Exploratory Data Analysis (EDA)

In [23]:
df3 = df2.copy()

# add month column
df3['Month'] = df2['InteractionDate'].dt.month_name()

# add year column
df3['Year'] = df2['InteractionDate'].dt.year

In [24]:
df3

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment,Month,Year
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,Others,Comment,Neutral,July,2023
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,Neutral,July,2023
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral,May,2024
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral,November,2023
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,Neutral,July,2023
...,...,...,...,...,...,...,...,...
3166,e06f0e16-8e48-483b-b103-9f105b139ca8,071a2657-12a8-4216-9c64-baf9ab5c9420,2024-04-30,Twitter,Share,Neutral,April,2024
3170,4d20c2b1-2f8a-4066-902c-bd068c2adccc,e5be1d7a-fdba-4e91-8674-577ac01cddf0,2024-05-16,Others,Like,Very Negative,May,2024
3173,b7b84b81-c61b-4f23-b3db-b18010484122,93d2d3e1-841e-4ece-91c1-3b1998a4cab8,2023-12-16,Twitter,Like,Neutral,December,2023
3175,5659a8c6-0397-4396-b561-52ec1c8a760b,d7f6806b-f348-431e-9198-07f0685d8d8e,2024-01-28,Facebook,Share,Negative,January,2024
3194,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Negative,June,2024

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2920 entries, 0 to 3194
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       2920 non-null   object
 1   InteractionID    2920 non-null   object
 2   InteractionDate  2920 non-null   datetime64[ns]
 3   Platform         2920 non-null   object
 4   InteractionType  2920 non-null   object
 5   Sentiment        2920 non-null   object
 6   Month            2920 non-null   object
 7   Year             2920 non-null   int32
dtypes: datetime64[ns](1), int32(1), object(6)
memory usage: 193.9+ KB

In [26]:
df3.describe()

                     InteractionDate         Year
count                           2920  2920.000000
mean   2023-12-30 17:19:04.109588736  2023.498973
min              2023-07-01 00:00:00  2023.000000
25%              2023-10-01 18:00:00  2023.000000
50%              2023-12-31 00:00:00  2023.000000
75%              2024-04-01 00:00:00  2024.000000
max              2024-06-30 00:00:00  2024.000000
std                              NaN     0.500085

In [27]:
df3.nunique()

CustomerID         1862
InteractionID      2911
InteractionDate     366
Platform              4
InteractionType       3
Sentiment             5
Month                12
Year                  2
dtype: int64

In [28]:
df3.sort_values(by="InteractionDate")

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment,Month,Year
2239,662e1733-738d-41ef-8538-645f35333eb3,9a22949f-3e01-40de-b9e9-68e57649cfe3,2023-07-01,Facebook,Share,Neutral,July,2023
2344,f9aed600-08f5-4583-b6d8-5ab32daaa213,dc68ea28-4ec2-456e-9af7-4dd76b372f32,2023-07-01,Others,Share,Positive,July,2023
1389,75675707-f167-4964-ae1c-9081f3a8f775,d6678c87-d69d-4773-bf31-a0a9c635f3d0,2023-07-01,Instagram,Like,Very Negative,July,2023
2151,76c1d696-0f1c-44b5-b749-8859545658eb,3ab03c80-fdaa-4dda-b769-4e8065ff1fff,2023-07-01,Facebook,Like,Positive,July,2023
602,992bfbf0-9fcc-4fad-9efc-767f55dd26ae,6d7d2b58-fbe2-457b-b259-642be4f0b31c,2023-07-01,Instagram,Like,Negative,July,2023
...,...,...,...,...,...,...,...,...
2672,5711d1af-71f2-4b99-a965-3ffdc39d32c8,1c2f510a-5ab5-4575-8f62-8ba8decf1302,2024-06-29,Twitter,Share,Neutral,June,2024
2591,a6cdffb1-b3cf-4aa3-af54-e42be3a8c260,13d8a4b4-94a1-4825-9c81-b3da7eb27fe2,2024-06-30,Facebook,Share,Negative,June,2024
1203,c6890a2f-4535-4b1c-84ac-547f9612813f,0e7d6285-1be1-4961-b39a-32186210fbf3,2024-06-30,Instagram,Like,Neutral,June,2024
2193,b29ddf39-3a1e-4a11-97fd-a2ec8ccf01c5,4fdac7b5-b5cf-4e5b-8112-1c69b278de29,2024-06-30,Facebook,Like,Positive,June,2024
396,9eee2b1c-ef39-41e8-b34f-6be7cb9d05a6,647e1020-25a5-4a79-b82c-c90a06843576,2024-06-30,Facebook,Comment,Positive,June,2024

In [29]:
df3.describe()

                     InteractionDate         Year
count                           2920  2920.000000
mean   2023-12-30 17:19:04.109588736  2023.498973
min              2023-07-01 00:00:00  2023.000000
25%              2023-10-01 18:00:00  2023.000000
50%              2023-12-31 00:00:00  2023.000000
75%              2024-04-01 00:00:00  2024.000000
max              2024-06-30 00:00:00  2024.000000
std                              NaN     0.500085

In [30]:
# Frequency counts for categorical variables in Social Media Interactions
platform_counts = df3['Platform'].value_counts()
interaction_type_counts = df3['InteractionType'].value_counts()
sentiment_counts = df3['Sentiment'].value_counts()
month_counts = df3['Month'].value_counts()
year_counts = df3['Year'].value_counts()

print("Platform Counts:\n", platform_counts)
print("Interaction Type Counts:\n", interaction_type_counts)
print("Sentiment Counts:\n", sentiment_counts)
print("Month Counts:\n", month_counts)
print("Month Counts:\n", year_counts)

Platform Counts:
 Platform
Instagram    889
Twitter      882
Facebook     867
Others       282
Name: count, dtype: int64
Interaction Type Counts:
 InteractionType
Comment    985
Share      969
Like       966
Name: count, dtype: int64
Sentiment Counts:
 Sentiment
Neutral          1140
Positive          874
Negative          841
Very Negative      33
Very Positive      32
Name: count, dtype: int64
Month Counts:
 Month
July         263
May          258
October      256
December     254
January      248
April        247
March        241
August       232
February     232
June         231
September    230
November     228
Name: count, dtype: int64
Month Counts:
 Year
2023    1463
2024    1457
Name: count, dtype: int64